/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Apr 1, 2018, 10:58:09 AM
    Author     : Shaun
*/

#nba-scoreboard {
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    background: #dddddd;
    width: 300px;
    padding-right: 15px;
    padding-left: 15px;
    transition: right 0.25s linear;
    
    &.closed {
       right: -330px; 
       
       #handle > span{
           display: inline-block;
           transform: rotateZ(0deg);
       }
    }
    
    #handle {        
        position: absolute;
        top: 20px;
        right: 328px;
        width: 33px;
        font-size: 36px;
        background: inherit;
        cursor: pointer;
        border-top-left-radius: 5px;
        border-bottom-left-radius: 5px;        
        
        > span {
            display: inline-block;
            transform: rotateZ(180deg);
            transition: all 0.25s linear;
        }
    }
    
    .scoreCard {
        margin-top: 20px;
        margin-bottom: 20px;
        border: 1px solid rgba(0,0,0,0.5);
        border-radius: 5px;
        font-weight: bold;
        background: white;
        
        .header {
            font-size: 10px;
            color: white;
            background: red;
            padding: 5px;
            text-align: right;
            
            .broadcast {
                float: left;
            }
        }
        
        .body {            
            padding-left: 15px;
            padding-top: 20px;
            padding-bottom: 20px;
            
            
            .team {               
                
                &.won .score:last-child:after{
                    content: '\25C0';
                    font-size: 10px;
                    position: absolute;
                    float: right;
                    right: -5px;
                    color: red;
                }
                
                &.lost{
                    opacity: 0.5;
                }
                
                .score{
                    position: relative;
                    padding: 0 8px;
                }
            }
        }
        
        .footer {
            font-size: 10px;
            color: white;
            background: blue;
            padding: 5px;
            text-align: left;
            
            .venue {
                margin-top: 10px;
                text-align: right;
            }
        }
        
    }
}